# Local .terraform directories
**/.terraform/*

# .tfstate files (contain unencrypted secrets)
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform plan files
*.tfplan
*.plan
plan.txt

# Secret / environment variable files
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc
